.loading{
  margin:20%;
  left:40%;
  height: 100px;
  width:100px;
  position:fixed;
  z-index:1;
}




.toggle{
  display:none;
}

.show {
  display:block;

}

.bookFound {
  border: 1px solid gray;
  padding:3vw;
}